* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  place-items: stretch;
  min-height: 100vh;
  width: 100vw;
  padding: 1rem 2rem;
  background:rgb(243, 243, 243);
}

.header-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background: #00023D;
  color: rgb(243, 243, 243);
  padding: 1rem 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

header .user-info {
  position: relative;
}

header h1 {
  font-weight: lighter;
  font-size: 2.5rem;
}

header .user-info .outer-cycle {
  border: 1px solid rgb(243, 243, 243);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

header .user-info .outer-cycle p {
  font-size: 0.25rem;
  font-weight: bold;
}

header .user-info .outer-cycle:hover {
  cursor: pointer;
  transform: scale(1.05);
}

header .user-info .outer-cycle button {
  background-color: transparent;
  border: none;
  
}

header .user-info .logout-btn {
  position: absolute;
  bottom: -100%;
  left: 0;
  cursor: pointer;
  transform: translateX(-50%);
  background: white;
  border: 1px solid;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0.5rem 0;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
}

nav {
  background: #292c54;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

main {
  background-color: #fff;
  flex: 1;
  padding: 1rem 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}